<%- include('includes/head2.ejs') %>
<section>
    <div class="content has-text-centered"> 
        <div class="columns is-flex is-centered"> <br><br>
        </div>
        <h1>S.A.O</h1> No me llamo SAO, pero da igual, no soy fan de mi nombre. <br>
        Actualmente tengo 19 años, soy estudiante de cuarto semestre ITC en el TEC, no tengo idea de en que me quiero especializar me interesan muchas cosas aunque no sea buena en ninguna.
   <h2>Objetivos laboratorio</h2> 
   <div class="list-item"> 
       <li>Entender el estilo arquitectónico Modelo-Vista-Controlador.</li> 
       <li>Diseñar aplicaciones con un estilo arquitectónico Modelo-Vista-Controlador.</li> 
       <li>Implementar aplicaciones con un estilo arquitectónico Modelo-Vista-Controlador.</li> 
   </div><br>
   <div class="buttons is-centered"> 
       <a href="/preguntas/respuesta"> <button class="button is-danger is-light is-small">Ver preguntas</button></a>
    </div><br>
</div>
</section>
<%- include('includes/foot.ejs') %>