<%- include('includes/head2.ejs') %>
<section class="content has-text-centered">
    <div>
        <h2>MVC:</h2>
        <div class="content has-text-centered">
          <figure>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/MVC-Process.svg/1200px-MVC-Process.svg.png" width="400" height="400">
          </figure> <br>
          <h4>¿Qué beneficios encuentras en el estilo MVC?</h4> 
          <p>Una clara ventaja del modelo MVC es que crea independencia de funcionamiento debido a que separa cada tipo de lógica, esto en si mismo ya facilita el mantenimiento en caso de errores y ofrece maneras más sencillas para probar el correcto funcionamiento del sistema, ademas permite el escalamiento de la aplicación.</p>
          <h4>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</h4> 
          <p>Justamente el crear independencia de funcionamiento causa que la complejidad del sistema se eleve, ya que la cantidad de archivos a mantener es mayor.</p>
        </div>
    </div>
</section>
<%- include('includes/foot.ejs') %>