<%- include('includes/head2.ejs') %>
<section>
    <div class="content has-text-centered"> 
        <div class="columns is-flex is-centered"> <br><br>
        </div>
        <h1>S.A.O</h1> No me llamo SAO, pero da igual, no soy fan de mi nombre. <br>
        Actualmente tengo 19 a침os, soy estudiante de cuarto semestre ITC en el TEC, no tengo idea de en que me quiero especializar me interesan muchas cosas aunque no sea buena en ninguna.
   <h2>Objetivos laboratorio</h2> 
   <div class="list-item"> 
       <li>Entender c칩mo funciona la autentificaci칩n de usuarios.</li> 
       <li>Desarrollar aplicaciones web con autentificaci칩n de usuarios.</li> 
       <li>Desarrollar aplicaciones web con rutas protegidas.</li> 
       <li>Desarrollar aplicaciones web protegidas contra ataques CSRF.</li> 
   </div><br>
   <div class="buttons is-centered"> 
       <a href="/preguntas/respuesta"> <button class="button is-danger is-light is-small">Ver preguntas</button></a>
    </div><br>
</div>
</section>
<%- include('includes/foot.ejs') %>