<%- include('includes/head2.ejs') %>
<section class="content has-text-centered">
    <div>
        <h2>Interacción con la base de datos:</h2>
        <div class="content has-text-centered">
          <figure>
            <img src="https://static.gunnarpeipman.com/wp-content/uploads/2019/12/sql-server-featured.png" width="400" height="400">
          </figure> <br>
          <h4>¿Qué otras formas de autentificación existen?</h4> 
          <p> Autenticación QR, Doble Factor de autenticación, OTP SMS, Biometría, Certificado digital</p>
        </div>
    </div>
</section>
<%- include('includes/foot.ejs') %>