<%- include('includes/head2.ejs') %>
<section class="content has-text-centered">
    <div>
        <h2>Interacción con la base de datos:</h2>
        <div class="content has-text-centered">
          <figure>
            <img src="https://static.gunnarpeipman.com/wp-content/uploads/2019/12/sql-server-featured.png" width="400" height="400">
          </figure> <br>
          <h4>¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?</h4> 
          <p> AJAX hace posible realizar peticiones al servidor y obtener respuesta de este en segundo plano (sin necesidad de recargar la página web completa) y usar esos datos para, a través de JavaScript, modificar los contenidos de la página creando efectos dinámicos y rápidos. </p>

          <h4>¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?</h4> 
          <p>  Las validaciones deben hacerse de ambos lados, servidor y cliente; el servidor se lleva la mayor parte ya que los datos del cliente es mas probable de que no sean confiables. </p>

          <h4>¿Qué es JSON?</h4> 
          <p>Cuyo nombre corresponde a las siglas JavaScript Object Notation o Notación de Objetos de JavaScript, es un formato ligero de intercambio de datos, que resulta sencillo de leer y escribir para los programadores y simple de interpretar y generar para las máquinas.</p>
        </div>
    </div>
</section>
<%- include('includes/foot.ejs') %>