<%- include('includes/head2.ejs') %>
<section class="content has-text-centered">
    <div>
        <h2>Interacción con la base de datos:</h2>
        <div class="content has-text-centered">
          <figure>
            <img src="https://static.gunnarpeipman.com/wp-content/uploads/2019/12/sql-server-featured.png" width="400" height="400">
          </figure> <br>
          <h4>¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?</h4> 
          <p> Continua con la arquitectura MVC, por lo que al tener todos los datos SQL en la capa modelo hace mas sencillo manejar todo lo relacionado a la interacción con la base de datos desde ahí.</p>
          <h4>¿Qué es SQL injection y cómo se puede prevenir?</h4> 
          <p>Es una de las técnicas de hacking más comunes en paginas web, consiste en la colocación de código malicioso en declaraciones SQL a través de los inputs de la página.</p>
        </div>
    </div>
</section>
<%- include('includes/foot.ejs') %>