body {
  color: #555;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

header {
  background-color: #F19CBB;
  color: white;
  letter-spacing: 0.1em;
  text-align: left;
  display: block;
  padding: 1em 10em;
}

header h1 {
  text-align: center;
  max-width: 50em;
}

footer {
  background-color: #2f2f2f;
  color: white;
  text-align: left;
  padding: 1em 10em;
}

footer h3 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

footer a {
color: #F19CBB;
}

footer a:hover {
  color: #23f6c8;
}

button {
  background-color: #F19CBB;
  color: white;
  text-align: center;
  padding: 10px 25px;
  font-size: 16px;
}

button:hover {
background-color: white;
color: #F19CBB;
}
