<%- include('includes/head2.ejs') %>
<section class="content has-text-centered">
    <div>
        <h2>HTML Dinamico:</h2>
        <h4>¿Qué otros templating engines existen para node?</h4> 
        <div class="content has-text-centered">
          <div class="columns is-flex is-centered"> <br>
            <figure>
                <img src="https://miro.medium.com/max/1400/1*-8c5bXmKhpKg8NRnBMu0zQ.gif" width="600" height="600">
            </figure> <br>
          </div>
          <div class="list-item"> 
                <li > Pug: motor de plantillas inspirado en Haml. </li>
                <li > EJS: motor de plantillas de JavaScript integrado. </li>
                <li > hbs: Adaptador para Handlebars.js, una extensión del motor de plantillas Mustache.js. </li>
                <li > Eta: motor de plantilla JS integrado ligero y superrápido. </li>
        </div><br>
      </div>
    </section>
        <p class="has-text-centered">Pug, </p>
    </div>
</section>
<%- include('includes/foot.ejs') %>