<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Laboratorio 13</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    </head>
    <body>
        <section class="section has-background-danger-light">
            <div class="container">
                <h1 class="title has-text-danger">Lab 13: MVC</h1>
                <p class="subtitle has-text-danger">Olivia Araceli Morales Quezada<br>
                    A01707371<br>
                    oliviaraceli1215@gmail.com
                </p>
            </div>
        </section>