<footer class="footer"> 
    <div class="content has-text-centered"> 
        <p> 
            <h3>Mis Links</h3> 
            <a href="https://github.com/SAO1215" target="">Github</a> <br>
            <a href="hhttps://discord.gg/8jjJVyJj">Discord</a> <br>
            <a href="https://open.spotify.com/user/livy1216?si=abf34a56a76c4a1a">Spotify</a> <br>
            <a href="https://miro.medium.com/max/960/1*ETKCijb_tVPU98ZZHTa2aA.gif">OF</a>
            <h3>Preguntas Frecuentes</h3> 
            <strong>No</strong>, no es por Sword Art Online. Gracias. 
            <h3>Cierra tu sesión</h3> 
            <a href="/users/logout">Salir</a>
        </p>
    </div>
</footer> 
</body>
</html>